apify-client==1.7.2
google-api-python-client==2.131.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
gspread==6.1.2
google-generativeai==0.7.2
python-dotenv==1.0.1
requests==2.32.3
tqdm==4.66.4
tenacity==8.3.0
